<div class="container-fluid">

  <div class="row">

    <!-- Clock figure -->
    <div class="col-sm-6 col-xs-12">

      <app-clock (click)="pauseResume()"></app-clock>
      <!--{{this.timerObject.initCD}}-->

    </div>


    <!-- Timers -->
    <div class="col-sm-6 col-xs-12">

      <app-timers *ngFor="let timer of timers; let i = index; trackBy: trackByFn;"
      [text]="timer.text" [(timer)]="timer.timer" [initiateCD]="timer.initCD"
      (timerFinish)="startOtherTimer($event, i)"></app-timers>

      <!--<app-timers [text]="'Timer'" [timer]="timers['timerObject'].timer" [initiateCD]="timers[timerObject.initCD]" (timerFinish)="startOtherTimer($event)"></app-timers>

      <app-timers [text]="'Break'" [timer]="timers[breakObject].timer" [initiateCD]="timers[breakObject.initCD]" (timerFinish)="startOtherTimer($event)"></app-timers>-->

    </div>

  </div>

</div>

