<div class="container-fluid">

  <div class="row">

    <!-- Clock figure -->
    <div class="col-sm-6 col-xs-12">

      <app-clock [(initCD)]="this.timerObject.initCD"></app-clock>
      {{this.timerObject.initCD}}

    </div>


    <!-- Timers -->
    <div class="col-sm-6 col-xs-12">

      <app-timers [text]="'Timer'" [timer]="timerObject.timer" [initiateCD]="timerObject.initCD" (timerFinish)="startOtherTimer($event)"></app-timers>

      <app-timers [text]="'Break'" [timer]="breakObject.timer" [initiateCD]="breakObject.initCD" (timerFinish)="startOtherTimer($event)"></app-timers>

    </div>

  </div>

</div>

